<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>

<script>
//$.ajaxSetup({
//  headers: {
//    'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
// }
//});
$(document).ready(function(){
    $('#metricdate').change(function() {
        metricdate.val($(this).val());
        //var datevalue = $(this).val()
        //$.get( '/fbmetrics', {id:"1", metricdate:datevalue} );
        //window.location.reload();
      });
});
//$(document).on('page:update', ready);
</script>

{% extends 'qsapp/base.html' %}

{% block content %}
	{% for metric in metrics %}
		<div class="metric">
			<div class="date">
				<p>Metric Date: {{metric.metric_date}}</p>
			</div>
				<p><a href="{% url 'metric_detail' pk=metric.pk %}">{{metric.metric_config.metricname}} : 
				{{ metric.value|linebreaksbr }}</a></p>
		</div>
	{% endfor %}
{% endblock %}